.content {
    padding: 1em;
}

/*
p {
    font-family: serif;
    text-align: left;
    font-size: 13.5pt;
    color: #ddd;
}
*/

.footer hr {
    margin: 0;
    padding: 0;
}

.footer .content{
    margin: 0;
    padding:  0.5em 1em 0 1em;
}

.social {
    display: inline;
    text-align: right;
}

/*
a.btn {
    font-family: sans-serif;
}
*/

.well {
    background-color: #222;
    background-image: none;
}

/*.post {
    padding: 2em;
}*/

/*.panel-heading {
    background-color: #666 !important;
    background-image: none;
}

a.panel-title {
    color: blue;
    text-decoration: none;	
}

a.panel-title:hover {
    color: green;
    text-decoration: none;	
}

a.panel-title:visited {
    color: purple;
    text-decoration: none;	
}*/

.navbar-brand {
    /* override bootstrap padding: 15px 15px */
    padding: 1px 15px 0px 15px;
/*
    padding: 6px 15px 0px 15px;
*/
    text-transform: none;
    color: #32cd32 !important;
}

.navbar-brand img {
    max-height: 50px;
}

.faq {
    padding-top: 1em;
}

/*
.answer p {
    padding-left: 1em;
}
*/

#discourse-comments html {
    color: #fff !important;
    background-color: #222 !important;
}
