---
layout: default
title: About Mod Phon
---
script
  $(function () { $("#about-nav-button").addClass("active"); });
h1 {{ page.title }}

:markdown

  Mod Phon Ltd is a small company based in Santa Fe, New Mexico, USA.
  How small? Well, to be honest, it is currently one man with a few of
  his friends to help.

  Our mission is simple: we want you to have fun making noise. In
  particular, we want you to have fun making voice-like sounds with
  computers and other digital devices.

  The founder of Mod Phon, Eric Carlson, has been playing with
  synthesizers for over thirty years, and for over twenty of those
  years he has been developing speech synthesizers. He holds an MA in
  Phonology from University College London.

  Shortly after Eric acquired his first iPad in early 2012, he
  realised that something he had always wanted to create might now
  within reason: a synthesizer of singing voices that can be played
  live.