---
layout: default
title: Mod Phon Blog
---
script
  $(function () { $("#blog-nav-button").addClass("active"); });
h1 {{ page.title }}
{% for post in site.posts %}
h2
  a(href="{{ post.url }}") {{ post.title }}&nbsp;
  span.small &laquo; {{ post.date | date_to_string }}
.well
  {{ post.excerpt }}
  a(href="{{ post.url }}") Read more&hellip;
{% endfor %}
