---
layout: default
title: Contact
---
script
  $(function () { $("#contact-nav-button").addClass("active"); });
h1 {{ page.title }}

:markdown
  The best way to contact us will be by participating in our online community,
  which is very nearly but not yet active.

  For the time being you can contact us
  by sending email to <info@modphon.com>.

//:markdown
  The best way to contact us is by participating in our online community,
  [http://community.modphon.com](http://community.modphon.com/).
  We are active participants in our own community, so you are likely to
  receive a quick reply.

  If for some reason you want to contact us privately, you can do so
  by sending email to <info@modphon.com>.
