---
layout: default
title: Mod Phon FAQ&nbsp;&ndash;&nbsp;Frequently Asked Questions
---
script
  $(function() { $("#faq-nav-button").addClass("active"); });
h1 {{ page.title }}
h4.faq What does 'Mod Phon' mean? Is it an abbreviation?
.answer
  :markdown
    'Mod Phon' is an abbreviation of 'Modulational Phonology'.

h4.faq What does 'Modulational Phonology' mean?
.answer
  :markdown
    Please don't ask. It is a very, very long story.

h4.faq
  | Why is there a space in 'Mod Phon'?
  | Why isn't it written 'ModPhon', as one word (e.g., like modphon.com)?
.answer
  :markdown
    The person who typed the application to become a corporation
    put a space there. After that it would have been too much bother to
    change it. True story.
