---
layout: default
title: Mod Phon
---
.jumbotron
 .row
  .col-md-12
    :markdown
      # The Synthesizer Different

      Touch the keys. Feel the knobs. Hear the music. The Synthesizer
      Different is here.  Or more precisely, it is *almost*
      here. Meanwhile, please keep your eyes, ears and mind open.

      Coming soon to an iPad near you...
  .row
    .col-md-8.col-md-offset-2
      img(src="/img/screenshot.png" width="100%")
.row
  .col-md-6
    :markdown
      ## Products

      After over a year of development, our first product is due to be
      available from the AppStore by the end of February. For now, the
      name of the app remains a carefully guarded secret.

  .col-md-6
    :markdown
      ## Community

      Our [community](http://community.modphon.com) is *the* place to
      discuss anything and everything about our apps and software.

      It uses [Discourse](http://www.discourse.org), the new forum software
      intended for the next decade instead of the last one.
