---
layout: default
title: Mod Phon
---
.jumbotron
 .row
  .col-md-12
    h1 Voxen
    h2 The Synthesizer Different

    p.
      Voxen is here...
    p
      | We are hard at work on some new and much improved content
      | for the website.
      |  
      em Carpe mañana.
    p.
      Meanwhile, you can easily find the app on the App Store.
    a(href="https://itunes.apple.com/us/app/voxen/id849089704?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}")

  .row
    .col-md-8.col-md-offset-2
      img(src="/img/screenshot.png" width="100%" alt="Voxen screen shot")
.row
  .col-md-6
    :markdown
      ## Products

      After over a year of development, Voxen is now
      available from the App Store.
      Just click the big ol' App Store button above
      or visit [http://appstore.com/voxen](http://appstore.com/voxen).

  .col-md-6
    :markdown
      ## Community

      Our [community](http://community.modphon.com) is *the* place to
      discuss anything and everything about our apps and software.

      It uses [Discourse](http://www.discourse.org), the new forum software
      intended for the next decade instead of the last one.
