        <div class="footer">
            <hr />
            <div class="content">
                <div class="contact pull-right social">
                    <a class="btn btn-xs btn-github" href="https://github.com/modphon">
                        <i class="fa fa-github"></i>&nbsp;&nbsp;GitHub</a>
                    <a class="btn btn-xs btn-twitter" href="https://twitter.com/@modphon">
                        <i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
                </div>
                <p class="text-muted">&copy; 2013&ndash;2016 Mod Phon Ltd. All rights reserved.</p>
            </div>
        </div>
	<!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
	-->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
